
<!DOCTYPE html>
<html>
<title>magicxx</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../../dist/css/w3.css">
<link rel="stylesheet" href="../../dist/css/base.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
<style>
    .bgimg{background-image:url(http://q4yvnswcm.bkt.clouddn.com/DJI_0824.JPG)}
</style>
<body>

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">Magicxx & snails7</h1>
    <h2 class="w3-jumbo">Beautiful Life Gallery</h2>
  </div>
</header>

<!-- Navbar (sticky bottom) -->
<div class="w3-bottom w3-hide-small">
  <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
    <a href="#home" style="width:25%" class="w3-bar-item w3-button"><b>Home</b></a>
      <a href="#us" style="width:25%" class="w3-bar-item w3-button"><b>Magicxx & Snails7</b></a>
    <a href="#wedding" style="width:25%" class="w3-bar-item w3-button"><b>Plan</b></a>
    <a href="#rsvp" style="width:25%" class="w3-bar-item w3-button w3-hover-black"><b>Learn</b></a>
  </div>
</div>

<!-- <div class="mybody">
    <div class="polaroid">
        <img src="http://pzbdlhu51.bkt.clouddn.com/fun1.jpg" alt="5 Terre" style="width:100%">
        <div class="mycontainer">
            <p>Cinque Terre
            10月13日，孙杨律师发微博称：孙杨向CAS（体育仲裁院）提出了坚决要求公开开庭的请求。孙杨这一请求得到了CAS的同意。本次听证会定于2019年11月15日在瑞士蒙特勒举行。体育仲裁院允许媒体及公众进入听证现场旁听，人数限定在200人以内。

回顾

孙杨再度回应"暴力抗检"事件:舆论一直在扭曲事实 然而我有话不能说

8月27日，孙杨再度在社交媒体平台回应抗检事件，坦言自己面对兴奋剂检测，所有行为都在领导的指导下进行，但是一直被舆论扭曲事实，却有话不能说，幸好视频记录了一切。否则面对无端地诋毁真是百口莫辩。检测人员都是同胞也不存在沟通误解，一切都清清楚楚、明明白白！
            </p>
        </div>
    </div>

    <div class="polaroid">
        <img src="http://pzbdlhu51.bkt.clouddn.com/fun2-3.jpg" alt="Norther Lights" style="width:100%">
        <div class="mycontainer">
            <p>Northern Lights</p>
        </div>
    </div>
</div> -->

<br>
<br>
<br>


<div class="w3-content">

<div class="w3-row w3-margin box2">

<div class="w3-third">
  <img src="http://q4yvnswcm.bkt.clouddn.com/magicxx.jpg" style="width:100%;min-height:200px">
</div>
<div class="w3-twothird w3-container box1">
  <h2>婺源油菜花</h2>
  <p>
  在油菜花里放无人机，是精灵2，DJI初代的产品，非常的有意思，今天天气晴好，游客非常的多，竟然还有一个热气球，非常的有意思，无人机有时飞的太远，一下子找不到方向，太吓人了，特别是电量不多的时候，建议还是在视野范围内飞
  </p>
  <p class="more">
      <span class="category">自驾之旅</span>
      <span class="pub-time">one hour ago</span>
      <span class="author">Bob Wang</span>
  </p>
</div>

</div>


 <div class="w3-content">

<div class="w3-row w3-margin">

<div class="w3-third">
  <img src="http://q4yvnswcm.bkt.clouddn.com/magicxx.jpg" style="width:100%;min-height:200px">
</div>
<div class="w3-twothird w3-container">
  <h2>5 Terre</h2>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

</div>

<div class="w3-content">

<div class="w3-row w3-margin">

<div class="w3-third">
  <img src="http://q4yvnswcm.bkt.clouddn.com/magicxx.jpg" style="width:100%;min-height:200px">
</div>
<div class="w3-twothird w3-container">
  <h2>5 Terre</h2>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

</div>



<div class="w3-content">

<div class="w3-row w3-margin">

<div class="w3-third">
  <img src="http://q4yvnswcm.bkt.clouddn.com/magicxx.jpg" style="width:100%;min-height:200px">
</div>
<div class="w3-twothird w3-container">
  <h2>5 Terre</h2>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

</div>


</div>



<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
<div class="w3-hide-small" style="margin-bottom:32px">&nbsp;</div>

</body>
</html>